@use "../../assets/scss/mixin.scss" as *;

.ledger-wrapper {
  padding: 40px 0;
  min-height: 100vh;

  .sheet-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 14px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border);

    .left-heading {
      h3 {
        font-size: 20px;
      }

      p {
        font-size: 12px;
      }
    }

    h3 {
      font-size: 32px;
      font-weight: 600;
      color: var(--text);
      margin: 0;
    }

    .btn-add {
      display: flex;
      align-items: center;
      gap: 8px;
      background-color: var(--light-bg);
      border: 1px solid var(--black);
      padding: 8px 20px;
      border-radius: 30px;
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s;

      .plus-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: var(--black);
        padding: 4px;

        svg {
          fill: var(--white);
        }
      }

      &:hover {
        background-color: var(--black);
        color: var(--white);
      }
    }
  }

  .filters {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: space-between;

    .total {
      p {
        font-size: 12px;
        margin-bottom: 4px;
      }

      h4 {
        font-size: 24px;
        font-weight: 600;
      }
    }

    .filters-options {
      display: flex;
      align-items: center;
      gap: 10px;

    }

    .ant-form-item,
    .btn-primary {
      margin: 0;
      width: auto;
      min-width: 170px;
    }

    .search {
      width: 300px;
    }

    .btn-primary {
      border-radius: 30px;
      padding: 12px 14px;
    }
  }

  .sheet-table {
    background: var(--white);
    border-radius: 5px;
    overflow: hidden;

    .ant-table-thead>tr>th {
      background: var(--black);
      color: var(--white);
      font-weight: 600;
      font-size: 14px;
    }

    .ant-table-cell {
      &::before {
        content: none !important;
      }
    }

    td {
      color: #5C5C5C;
      font-weight: 500;
      font-size: 14px;

    }

    .status-tag {
      padding: 6px 14px;
      border-radius: 20px;
      font-weight: 600;
      font-size: 12px;
      min-width: 75px;

      &.pending {
        background: #FFB3021A;
        color: var(--yellow);
      }

      &.completed {
        background: #f6ffed;
        color: var(--green);
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    background-color: var(--white);
    align-items: center;
    padding: 12px 14px;
    border-radius: 5px;
    border: 1px solid var(--border2);

    ul {
      margin: 0;
    }
  }

  .footer-section {
    padding: 12px 14px;
    background-color: var(--white);
    border-radius: 5px;
    border: 1px solid var(--border2);

    .left-col {
      display: flex;
      align-items: center;
      gap: 14px;

      .ant-form-item {
        margin: 0;
        width: 160px;
      }

      .btn-primary {
        border-radius: 50px;
        min-width: 180px;
        padding: 13px;
      }

      .btn-print {
        border: 1px solid var(--black);
        border-radius: 50%;
        background-color: transparent;
        outline: none;
        padding: 12px;
      }
    }

    .right-col {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .data {
        p {
          color: #5C5C5C;
          font-size: 12px;
          font-weight: 500;
        }

        h3 {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }
}