@mixin responsive($breakpoint) {
    @if $breakpoint ==xs {
        @media (max-width: 576px) {
            @content;
        }
    }

    @else if $breakpoint ==sm {
        @media (max-width: 767px) {
            @content;
        }
    }

    @else if $breakpoint ==md {
        @media (max-width: 991px) {
            @content;
        }
    }

    @else if $breakpoint ==lg {
        @media (max-width: 1200px) {
            @content;
        }
    }

    @else if $breakpoint ==xl {
        @media (max-width: 1440px) {
            @content;
        }
    }

    @else if $breakpoint ==xxl {
        @media (max-width: 1600px) {
            @content;
        }
    }
}