:root {
   --black:#000000;
   --secondary:#808080;
   --light-color:#F5F5F5;
   --text: #262626;
   --white:#FFFFFF;
   --border:#CCCCCC;
   --border2:#EAEAEA;
   --yellow:#FFB302;
   --green:#00CF18;
   

}
