@use "../../assets/scss/mixin.scss" as *;

.group-wrapper {
    width: 100%;
    padding: 40px 0;
    background-color: var(--light-bg);

    .group-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 14px;
        margin-bottom: 20px;
        border-bottom: 1px solid var(--border);
        h3 {
            font-size: 32px;
            font-weight: 600;
            color: var(--text);
            margin: 0;
        }

        .ant-form-item{
            margin: 0;
            width: 30%;
        }
    }   

    .group-card {
        background-color: var(--white);
        border: 1px solid var(--border2);
        border-radius: 10px;
        padding: 16px;
        text-align: left;
        transition: all 0.3s ease;
        height: 132px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        &:hover {   
            transform: translateY(-3px);
        }

        .group-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            .group-title {
                display: flex;
                align-items: center;
                gap: 8px;
            }

            .folder-icon {
                font-size: 22px;
                color: var(--primary);
            }

            .more-icon {
                font-size: 20px;
                color: var(--secondary);
                cursor: pointer;
            }
        }

        h4 {
            font-size: 186x;
            font-weight: 600;
            color: var(--text);
            margin-bottom: 5px;
        }

        p {
            font-size: 12px;
            color: var(--secondary);
            margin: 0;
            font-weight: 500;
            line-height: 18px;
        }

        &.add-card {
            text-align: center;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            .plus-icon {
                font-size: 28px;
                background-color: var(--black);
                color: var(--white);
                border-radius: 6px;
                padding: 10px;
            }

            p {
                font-weight: 700;
                color: var(--text);
            }
        }
    }
}

